body {
	margin: 0 auto;
	font-family: helvetica;
	background-color: white;
}

.top {
	background-color: #4267B2;
	display: flex;
	width: 100%;
	min-width: 960px;
	margin-bottom: 20px;
}

.facebook {
	width: 80%;
	padding: 10px;
	margin-left: 20px;
}

.facebook header {
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.logout {
	width: 20%;
	padding: 10px;
	margin-right: 10px;
}

.logout ul {
	float: right;
	margin: 0;
	padding: 10px;
}

.logout li {
	list-style-type: none;
}

.logout a {
	color: white;
	font-size: 18;
	text-decoration: none;
}

.content {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.leftside {
	width: 25%;
}

.pic1 img {
	width: 350px;
	margin-bottom: 10px;
}

.bio a {
	font-size: 24px;
	text-decoration: none;
	margin-left: 30px;
	color: black;
}

.bio span {
	color: blue;
}

.quote p {
	text-align: center;
	color: darkgray;
	max-width: 300px;
}

.nav {
	margin-top: 40px;
}

.nav p {
	border: darkgray 1px solid;
	width: 330px;
	padding: 10px;
	margin: 0;
}

.center {
	width: 50%;
	display: flex;
}

.photos {
	width: 20%;
	margin-right: 10px;
	margin-left: 0;
}

.photos img {
	width: 150px;
	border-radius: 50%;
	margin-bottom: 60px;
}

.info {
	width: 70%;
	margin-left: 10px;
}

.friend {
	margin-bottom: 100px;
}

.remove {
	margin-left: 300px;
	float: right;
	width: 10%;
}

.remove button {
	background-color: red;
	color: white;
	padding: 10px;
	margin-bottom: 180px;
}

.name1 a {
	font-size: 24px;
	text-decoration: none;
	color: black;
}

.button1 button{
	background-color: #7d7a7a;
	color: white;
	padding: 10px;
}

.rightside {
	width: 25%;
	margin-left: 90px;
}

.feed div {
	border: darkgray 1px solid;
	padding: 10px;
	width: 420px;
}

.feed span {
	color: darkgray;
	float: right;
}