body {
	margin: 0 auto;
	font-family: helvetica;
	background-color: white;
}

.top {
	background-color: #4267B2;
	display: flex;
	width: 100%;
	min-width: 960px;
	margin-bottom: 20px;
}

.facebook {
	width: 80%;
	padding: 10px;
	margin-left: 20px;
}

.facebook header {
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.logout {
	width: 20%;
	padding: 10px;
	margin-right: 10px;
}

.logout ul {
	float: right;
	margin: 0;
	padding: 10px;
}

.logout li {
	list-style-type: none;
}

.logout a {
	color: white;
	font-size: 18;
	text-decoration: none;
}

.content {
	display: flex;
	margin: 0;
	justify-content: space-around;
}

.leftside {
	width: 20%;
}

.pic1 img {
	width: 350px;
	margin-bottom: 10px;
}

.bio a {
	font-size: 24px;
	text-decoration: none;
	margin-left: 30px;
	color: black;
}

.bio span {
	color: blue;
}

.quote p {
	text-align: center;
	color: darkgray;
	max-width: 300px;
}

.nav {
	margin-top: 40px;
}

.nav p {
	border: darkgray 1px solid;
	width: 330px;
	padding: 10px;
	margin: 0;
}

.center {
	width: 60%;
}

.post1 img {
	width: 1100px;
}

.post2 img {
	width: 1100px;
}

.post1 p {
	margin-left: 10px;
	font-size: 18px;
}

.post1 button {
	background-color: #4267B2;
	color: white;
	padding: 10px;
	margin-left: 10px;
}

.post2 p {
	margin-left: 10px;
	font-size: 18px;
}

.post2 button {
	background-color: #4267B2;
	color: white;
	padding: 10px;
	margin-left: 10px;
}

.rightside {
	width: 20%;
}

.feed div {
	border: darkgray 1px solid;
	padding: 10px;
	width: 350px;
}

.feed span {
	color: darkgray;
	float: right;
}